*{
    background-color:  hsl(212, 45%, 89%);
}

#product {
    background-color:  hsl(0, 0%, 100%);
    border-radius: 15px;
    width: 330px;
    height: 450px;
    justify-content: center;
    text-align: center;
    margin: 15% 10px 10px 37%;
    padding-top: 15px;
    color:  hsl(218, 44%, 22%);
    line-height: 21px;
    
}

#product img {
    border-radius: 12px  
}

#product h5 {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 0px;
    text-align: center;
    background-color:hsl(0, 0%, 100%) ;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;

}

#product p {
    color: hsl(216, 15%, 48%);
    background-color: hsl(0, 0%, 100%);
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    margin-top: 18px;
}